.App {
  text-align: center;
  height: 100%
}

.material-icons {
  color: black;
  margin: 3px;
}

.material-icons.md-17 {
  font-size: 17px;
}

.vert-align-middle {
  vertical-align: middle
}

.auth-button {
  margin: 7px;
}

.list {
  margin-bottom: 15px;
}

.green-text{
  color: green;
  font-weight: bold;
}

.red-text{
  color: red
}

/*Components and Layout*/

body > #root > div > .full {
  height: 100vh;
}

.UserComponent {
  background-image: linear-gradient(#bea5c6, #a689af);
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: bold;
}

.MainListComponent {
  float: left;
  width: 33%;
  background-image: linear-gradient(#ffccfa, #fc8af2);
}

.ListComponent {
  float: left;
  width: 67%;
  background-image: linear-gradient(#ddc5e8, #cd99e5);
}
