.App {
  text-align: center;
  height: 100%
}

.material-icons {
  color: black;
  margin: 3px;
}

.material-icons.md-17 {
  font-size: 17px;
}

.vert-align-middle {
  vertical-align: middle
}

.auth-button {
  margin: 7px;
}

.list {
  margin-bottom: 15px;
}

.item-purchased{
  color: green
}

.item-not-purchased{
  color: red
}
